// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$text-color: #221f1f;
$text-color-reversed: #fff;
$background-color: #fff;

$white: #fff;
$black: #221f1f;
$gray: #adadad;
$grayLight: #f1f1f1;

$primary-color: #e50914;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary: $primary-color,
        danger: $primary-color,
        light: $gray,
        dark: $black
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// @import "ionic.theme.fullcube";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

// Fonts
// --------------------------------------------------
// Change the font type and info

$font-family-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Toolbar
// --------------------------------------------------
// Change the color of the toolbar

$toolbar-ios-title-text-color: $primary-color;
$toolbar-md-title-text-color: $primary-color;
$toolbar-wp-title-text-color: $primary-color;

$toolbar-background: $black;
$toolbar-border-color: $black;

$toolbar-active-color: $black;
$toolbar-inactive-color: $black;

.back-button {
  color: $primary-color !important;
}

// Content
// --------------------------------------------------
// Change the color of the content

$content-ios-outer-background: $black;
$content-ios-transition-background: $black;
.content {
  background-color: lighten($black, 5%) !important;
}

// Content
// --------------------------------------------------
// Change the color of the content

.card {
  background-color: $black !important;

  .card-title {
    color: $primary-color !important;
  }

  .card-content {
    p{
      color: $gray !important;
    }
  }
}

.item {
  background-color: $black !important;
  h2{
    color: $primary-color !important;
  }
}